[submodule "tests/raylib/raylib"]
	path = tests/raylib/raylib
	url = https://github.com/raysan5/raylib/
[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
